/venv
path_and_query_param.ipynb
BaseModel.ipynb
/.vscode
/Machine_Learning/FastAPI/users/__pycache__
/core/__pychache__
test.db
__pycache__/items_views.cpython-312.pyc
__pycache__/main.cpython-312.pyc
core/models/__pycache__/__init__.cpython-312.pyc
core/__pycache__/config.cpython-311.pyc
core/__pycache__/config.cpython-312.pyc
core/models/__pycache__/base.cpython-312.pyc
core/models/__pycache__/db_helper.cpython-312.pyc
core/models/__pycache__/product.cpython-312.pyc
users/__pycache__/__init__.cpython-312.pyc
users/__pycache__/crud.cpython-312.pyc
users/__pycache__/schemas.cpython-312.pyc
users/__pycache__/views.cpython-312.pyc
closest_sum.py
__pycache__/items_views.cpython-311.pyc
__pycache__/main.cpython-311.pyc
core/models/__pycache__/__init__.cpython-311.pyc
users/__pycache__/__init__.cpython-311.pyc
users/__pycache__/crud.cpython-311.pyc
users/__pycache__/schemas.cpython-311.pyc
users/__pycache__/views.cpython-311.pyc
core/models/__pycache__/base.cpython-311.pyc
core/models/__pycache__/db_helper.cpython-311.pyc
core/models/__pycache__/product.cpython-311.pyc
api_v1/__pycache__/__init__.cpython-311.pyc
api_v1/products/__pycache__/crud.cpython-311.pyc
api_v1/products/__pycache__/dependencies.cpython-311.pyc
api_v1/products/__pycache__/schemas.cpython-311.pyc
api_v1/products/__pycache__/views.cpython-311.pyc
api_v1/products/__pycache__/__init__.cpython-311.pyc
