/venv


/.vscode
/Machine_Learning/FastAPI/users/__pycache__
/core/__pychache__
test.db
__pycache__/items_views.cpython-312.pyc
__pycache__/main.cpython-312.pyc
core/models/__pycache__/__init__.cpython-312.pyc
core/__pycache__/config.cpython-311.pyc
core/__pycache__/config.cpython-312.pyc
core/models/__pycache__/base.cpython-312.pyc
core/models/__pycache__/db_helper.cpython-312.pyc
core/models/__pycache__/product.cpython-312.pyc
users/__pycache__/__init__.cpython-312.pyc
users/__pycache__/crud.cpython-312.pyc
users/__pycache__/schemas.cpython-312.pyc
users/__pycache__/views.cpython-312.pyc

__pycache__/items_views.cpython-311.pyc
__pycache__/main.cpython-311.pyc
core/models/__pycache__/__init__.cpython-311.pyc
users/__pycache__/__init__.cpython-311.pyc
users/__pycache__/crud.cpython-311.pyc
users/__pycache__/schemas.cpython-311.pyc
users/__pycache__/views.cpython-311.pyc
core/models/__pycache__/base.cpython-311.pyc
core/models/__pycache__/db_helper.cpython-311.pyc
core/models/__pycache__/product.cpython-311.pyc
api_v1/__pycache__/__init__.cpython-311.pyc
api_v1/products/__pycache__/crud.cpython-311.pyc
api_v1/products/__pycache__/dependencies.cpython-311.pyc
api_v1/products/__pycache__/schemas.cpython-311.pyc
api_v1/products/__pycache__/views.cpython-311.pyc
api_v1/products/__pycache__/__init__.cpython-311.pyc
/Important_Learnings
alembic/versions/__pycache__/2025_01_06_2200-77dda4a2965b_create_table_products.cpython-311.pyc
alembic/__pycache__/env.cpython-311.pyc
core/models/__pycache__/user.cpython-311.pyc
alembic/versions/__pycache__/2025_01_06_2248-4ddc5f6549ba_create_users_table.cpython-311.pyc
core/models/__pycache__/post.cpython-311.pyc
alembic/versions/__pycache__/2025_01_07_1533-6205b79f1828_create_table_for_users_posts.cpython-311.pyc
alembic/versions/__pycache__/2025_01_10_2010-5941dc996dcb_delete_profiles_table.cpython-311.pyc
alembic/versions/__pycache__/2025_01_10_2020-3429363fe44c_create_table_profilesss.cpython-311.pyc
alembic/versions/__pycache__/2025_01_10_2024-3b62daf97833_create_table_profiles.cpython-311.pyc
alembic/versions/__pycache__/2025_01_10_2044-5a705a4fd8ff_drop_profile_table.cpython-311.pyc
alembic/versions/__pycache__/2025_01_10_2045-46b162ea2e68_drop_profile_table.cpython-311.pyc
alembic/versions/__pycache__/2025_01_10_2047-281c1ece480e_create_table_profile.cpython-311.pyc
core/models/__pycache__/mixins.cpython-311.pyc
core/models/__pycache__/profile.cpython-311.pyc
alembic/versions/__pycache__/2025_01_20_1539-807453720d07_create_orders_table.cpython-311.pyc
alembic/versions/__pycache__/2025_01_20_1543-c5899793b862_create_orders.cpython-311.pyc
alembic/versions/__pycache__/2025_01_20_2025-7c44c8552f78_create_order_product_association_table.cpython-311.pyc
alembic/versions/__pycache__/2025_01_20_2034-35b3dd6586fd_create_order_product_association_table.cpython-311.pyc
core/models/__pycache__/order_product_association.cpython-311.pyc
core/models/__pycache__/order.cpython-311.pyc
alembic/versions/__pycache__/2025_01_22_0919-8a9e51bbdb04_qwerty.cpython-311.pyc
alembic/versions/__pycache__/2025_01_22_0926-b393c4049f3e_add_count_column_to_product_association_.cpython-311.pyc
alembic/versions/__pycache__/2025_01_23_0823-9f73ae58ff03_create_column_unit_price_for_table_.cpython-311.pyc
api_v1/demo_auth/__pycache__/__init__.cpython-311.pyc
api_v1/demo_auth/__pycache__/views.cpython-311.pyc
/certs/
api_v1/demo_auth/__pycache__/demo_jwt_auth.cpython-311.pyc
auth/__pycache__/__init__.cpython-311.pyc
auth/__pycache__/utils.cpython-311.pyc
api_v1/demo_auth/__pycache__/helpers.cpython-311.pyc
